@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

.point{
    background-color:whitesmoke; 
    padding: 100px 0;  
}

.point-container{
    display: flex;
    flex-direction: column;
}
.point-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -15px;
}

.point-text p{
    margin-top: 20px;
    font-size: 15px;
    color: #777;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 35%;
}

.point-text h2{
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #1e1e1e;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.point-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.point-item{
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    background-color:white;
    height: 250px;
    width: 280px;
}

.point-item-image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.point-item-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-left: 13px;
}

.point-item-text p{
    margin-left: 10px;
    text-align: start;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #777777;
}

.point-item-text h3{
    margin-top: 35px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: #777777;
}

.point-item-text h4{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #ff589e;
}

@media screen and (max-width:480px) {
    
    .point-text{    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .point-text p{
        text-align: center;
        width: 60%;
    }
    .point-card-container{
        flex-direction: column;
        align-items: center;
    }
    .point-item{
        margin-top: 30px;
    }
}
@media screen and (min-width:481px) and (max-width:720px) {
    .point-card-container{
        flex-direction: column;
        align-items: center;
    }
    .point-item{
        margin-top: 30px;
        width: 400px;
    }
    .point-text p{
        text-align: center;
        width: 60%;
    }
}
@media screen and (min-width:721px) and (max-width:1024px) {
    .point-card-container{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .point-item{
        margin-top: 30px;   
    }
    
}