@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');

.pricing{
    padding: 100px 0;
    background-color: #f2f2fe;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-container{
    width: 85%;
}
.pricing-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-title p{
    width: 43%;
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #777777;
}
.pricing-title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: #1e1e1e;
    font-weight: 500;
}
.starter-title p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #1e1e1e;
}
.pricing-cards{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

}
.pricing-card{
    background-color:white;
    border-radius: 20px;
    width: 30%;
    margin-top: 10px;
}

.pricing-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 55%;
}
.pricing-lists ul{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #1e1e1e;
}
.pricing-card-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pricing-card-section-container{
    background-color: #8261ee;
    color: white;
    width: 85%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.pricing-card-section-container p{
    margin-top: 10px;
}
.starter-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.pricing-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}
.pricing-btn{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #8261ee;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s ease;
    color: white;
    border: none;
}
.pricing-btn:hover{
    background-color: #ff589e;
}

#pink{
    background-color: #ff589e;
}

@media screen and (max-width: 480px) {
    .pricing-cards{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pricing-card{
        width: 80%;
    }
    .pricing-title p{
        width: 70%;
    }
    .premium{
        margin-top: 40px;
    }
    .advanced{
        margin-top: 40px;
    }
}

@media screen and (min-width:481px) and (max-width: 720px) {
    .pricing-cards{
        display: flex;
        flex-direction: column;
    }
    .pricing-card{
        width: 70%;
        margin-top: 20px;
        margin-left: 15%;
    }
    .pricing-title p{
        width: 80%;
    }
    .premium{
        margin-top: 40px;
    }
    .advanced{
        margin-top: 40px;
    }
}